 @font-face {
    font-family: neu;
    src: url(./TT.ttf);
}
@font-face {
    font-family: neu;
    src: url(./all2.otf);
} 

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: neu;
 scroll-behavior: smooth;
}
body {
    user-select: none;
}
nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 10px;
 height: 8vh;
 width: 100%;
 background-color: #fefefe;

 
}
.nav2 a{
text-decoration: none;
color: #000; 
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: #dadada;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.imgCont{
 width:216px;
 height:80px;
}

.imgCont img{
 width: 70%;
 height: 70%;
 object-fit: cover;
}


.nav2 i{
 font-size: 25px;
 padding:0 10px;
}

.story{
 display: flex;
 align-items:center ;
 padding:10px;
}



.personalStoryImg{
 width: 75px;
 height: 75px;
}

.personalStoryImg img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 50px;
}





.Post{
 width: 100%;
 min-height: 180vh;
}
.PostCont:nth-last-child(1){
 margin-bottom: 80px;
}
.PosterDets{
 display: flex;
 align-items: center;
 padding: 10px 12px;
}
.PosterDets h5{
 margin-left: 5px;
 opacity: 0.3;
 font-size: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.PosterDets span{
 margin-left: 10px;
}

.PosterImage{
 width: 40px;
 height: 40px;
}
.PosterImage img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 50px;
 margin-right: 20px;
}




.PostImg{
 width: 100%;
 height: 55vh;
 background-color: #000;

}
.PostImg img{
 width: 100%;
 height: 100%;
 object-fit:contain;
  
}
.PostTitle{
 padding:5px 15px;
display: flex;



}
#PostUserNameInnerHtml{
 margin-right: 5px;
 font-weight: 100;
}
#PostWholeTitle{
 font-weight: 900;
}
.PostTitle b{
margin-right: 5px;

}
.PostInteractionCont{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 0; 
 
}

.PostInteractionCont i{
 font-size: 25px;
 padding: 0 15px;
}

.PostLikeCount{
 padding: 0 15px;
 margin-top: -15px;
 }
.likeIt{
 transition:all .22s ease;
 color: #fff;
 background-color: #fff;
}

.WhoLikedDiv{
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #fff;
 z-index: 99;
 transform: translate(0,100%);
 overflow-y: auto; 
}


.back{
 display: flex;
 padding: 15px;
}
#back{
 padding-right:30px;
 font-size: 25px;
}

.JustifierLikes{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 21px;
}

.WhoLikedUsersCont{
 display: flex;
 align-items: center;
 padding: 15px;
 width: 100%; 
}
.WhoLikedUsersCont:nth-last-child(1){
 margin-bottom: 40px;
}

.WhoLikedUsersSmall{
  display: flex;
 align-items: center;
 width: 100%; 
}

.WhoLikedImg{
width: 70px;
 height: 70px;
}
.WhoLikedImg img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 50px;
 margin-right: 20px;

}
.WhoLikedDets{
 padding: 0 10px;
 width: 40%;
 
}
.WhoLikedName{
 display: flex;
 align-items: center;
 gap:4px;
}
.WhoLikedFollow{
 padding-left: 20px;
 
}

.WhoLikedFollow button{
 border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px 35px;
  font-weight: 400;
  margin: 5px;
  width: 100%;
  background-color: #0195F7;
}
.WhoLikedFollowButton:active{
 transform: scale(0.95);
}
.SeeProfile{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: red;
}

.Tabs{
 display: flex;
 align-items: center;
 justify-content: space-around;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #fefefe;
 color: #000;
 box-shadow: 0 0 1px #000;
 z-index: 100;
}

.Tabs i{
 font-size: 25px;
 transition: all .55s ease;
}
.Tabs a{
 color: #000;
 text-decoration: none;
 
}


 













.searchTab{
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #fff;
 color: #000;
 display: none;
 transition: all .55s ease;
}

.reelTab{
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #fff;
 color: #000;
 display: none;
 transition: all .55s ease;
}
.profileTab{
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #fff;
 color: #000;
 display: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}
.loaderCont{
 display: flex;
 align-items: center;
 justify-content: center;
}




