


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: neu;
 scroll-behavior: smooth;
}
nav{
 width: 100%;
    height: 10vh;
    
    background-color: #fefefe;
}
.SearchBox {
    position: relative; /* Make the container relative */
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fefefe;
    
}

#SearchInpIcon {
    position: absolute;
    left: 30px; /* Adjust as needed */
}

#searchInp {
    width: 95%;
    height: 30px;
    padding: 0 35px; /* Add padding to the right to accommodate the icon */
    border: none;
    box-shadow: 0 0 1px #000;
    outline: none;
    border-radius: 4px;
    background-color: #EFEFEF;
}



.displayUsers{
 display: flex; 
 flex-direction: column; 
 min-height: 100vh;
 
}
.UsersCont{
 display: flex;
 align-items: center;
 padding: 15px;
 
}
.UsersProfileImg{
 width: 70px;
 height: 70px;
 
}
.UsersProfileImg img{
 width: 100%;
 height: 100%;
 border-radius: 50px;
 object-fit: cover;
}

.UsersUsername{
 padding: 0 10px;
 
}
.name{
 display: flex;
}
#FirstName{
 margin-right: 5px;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}
.loaderCont{
 display: flex;
 align-items: center;
 justify-content: center;
}






 .Tabs{
 display: flex;
 align-items: center;
 justify-content: space-around;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #fefefe;
 color: #000;
 box-shadow: 0 0 1px #000;
}

.Tabs i{
 font-size: 25px;
 transition: all .55s ease;
}
.Tabs a{
 color: #000;
 text-decoration: none;
 
}
