@font-face {
    font-family: neu;
    src: url(./TT.ttf);
}
@font-face {
    font-family: neu;
    src: url(./all2.otf);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: neu;
 scroll-behavior: smooth;
}


.AddPostTab{
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #fff;
 color: #000;
}


.AddPostTab button{
 width: 90%;
 height: 5vh;
 background-color:#0195f7 ;
 border-radius: 8px;
 border: none;
 outline: none;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
}
.AddPostButtonCont{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
}
#addPostFileInp{
 display: none;
}
#labelForAddPostFile{
 width: 100%;
 height: 55vh;
 display:flex;
 align-items: center;
 justify-content: center;
 
}
#AddPostImg{
width: 100%;
height: 100%;
object-fit: contain;
}

#addPostText{
 resize: none;
 padding:20px 10px;
 border: none;
 outline: none;
 width: 100%;
 border-bottom: 0.5px solid #000;
}

.NewPostCont{
 width: 100%;
 height: 10vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #fefefe;
 box-shadow: 0 0 1px #000;
 }
 
 
 .Tabs{
 display: flex;
 align-items: center;
 justify-content: space-around;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #fefefe;
 color: #000;
 box-shadow: 0 0 1px #000;
}

.Tabs i{
 font-size: 25px;
 transition: all .55s ease;
}
.Tabs a{
 color: #000;
 text-decoration: none;
 
}
